
.table-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    table-layout: fixed;
  }
  
  .centered{
    text-align: center;
  }
  .status-active {
    color: green;
  }
  
  .status-deactivated {
    color: rgb(206, 32, 32);
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }
  .search-input {
    padding: 10px;
    width: 250px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; 
    margin-left: 970px;
  }